body{
	margin: 20;
	padding: 0;
	background: #efefef;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
}

#login-box{
	position: relative;
	margin: 5% auto;
	height: 400px;
	width: 600px;
	background:#fff;
}

.box{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
}

h1{
	margin: 20px;
	font-weight: 400;
	font-size: 28px;
}

input[type="text"],
input[type="date"],
input[type="password"]{
	margin: 20px;
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 3px;
	width: 200px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid;
}

input[type="submit"]{
	margin: 20px;
	margin-bottom: 20px;
	width:100px;
	height: 30px;
	background: #B22222;
	border: none;
	border-radius: 2px;
	color: #fff;
	6
}

input[type="submit"]:hover,
input[type="submit"]:focus{
	background: #B22222;
}